<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/global.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="flex-row-center-center">
        <div>IMG</div>
        <ul class="flex-row-center-center">
            <li>HOME</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
    <main class="flex-row-center-center">
        <div class="elements">
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=1" alt="Placeholder Image 1"> 
                <p>Short Description 1</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=2" alt="Placeholder Image 2"> 
                <p>Short Description 2</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=3" alt="Placeholder Image 3"> 
                <p>Short Description 3</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=4" alt="Placeholder Image 4"> 
                <p>Short Description 4</p> 
            </div> <div class="container"> 
                <img src="https://picsum.photos/300/200?random=5" alt="Placeholder Image 5"> 
                <p>Short Description 5</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=6" alt="Placeholder Image 6"> 
                <p>Short Description 6</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=7" alt="Placeholder Image 7"> 
                <p>Short Description 7</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=8" alt="Placeholder Image 8"> 
                <p>Short Description 8</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=9" alt="Placeholder Image 9"> 
                <p>Short Description 9</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=10" alt="Placeholder Image 10"> 
                <p>Short Description 10</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=11" alt="Placeholder Image 11"> 
                <p>Short Description 11</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=12" alt="Placeholder Image 12"> 
                <p>Short Description 12</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=13" alt="Placeholder Image 13"> 
                <p>Short Description 13</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=14" alt="Placeholder Image 14"> 
                <p>Short Description 14</p> 
            </div> 
            <div class="container"> 
                <img src="https://picsum.photos/300/200?random=15" alt="Placeholder Image 15"> 
                <p>Short Description 15</p> 
            </div>
        </div>
        <div class="sidebar">Sidebar</div>
    </main>
</body>
</html>