.loginrectangle form {
    width: 85%  
}

.top-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.Welcome {
    margin-left: 2.75vw;
    font-size: 1.25em;
    font-weight: 400;
}

.Welcome > span {
    color: #3B5775;
    font-family: 'Pacifico';
}

.no-account-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: calc(3.7125vw); /* Wyrównanie do prawej */
}

.no-account-section > p {
    margin-bottom: 0;
}

.no-account-section > a {
    color: #3B5775;
}

.Sign-in {
    font-size: 3.4em;
    font-weight: 500;
    align-self: flex-start; /* Wyrównanie do lewej */
    margin-left: 2.75vw;
}

form {
    display: flex;
    flex-direction: column;
}

form > input {
    height: calc(100vh * (50 / 900));
    border-radius: 9px;
    border: 1px solid #ADADAD;
    background: #FFF;
    padding-left: 1vw;
    color: #808080;
    font-size: 0.9em;
    margin-bottom: 1em;
}



