.loginrectangle form {
    width: 85%
}

.top-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.Welcome {
    margin-left: 2.75vw;
    font-size: 1.25em;
    font-weight: 400;
}

.Welcome > span {
    color: #3B5775;
    font-family: 'Pacifico';
}

.have-account-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: calc(3.7125vw); /* Wyrównanie do prawej */
}

.have-account-section > p {
    margin-bottom: 0;
}

.have-account-section > a {
    color: #3B5775;
}

.Sign-up {
    font-size: 3.4em;
    font-weight: 500;
    align-self: flex-start; /* Wyrównanie do lewej */
    margin-left: 2.75vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

form {
    display: flex;
    flex-direction: column;
}

form p{
    margin-bottom: 1vh;
}

input {
    height: calc(100vh * (50 / 900));
    border-radius: 9px;
    border: 1px solid #ADADAD;
    background: #FFF;
    padding-left: 1vw;
    color: #808080;
    font-size: 0.9em;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
  
.name div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name p{
    text-align: left;
}
.name > .names{
    margin-left: 1.75vw;
}

.name input {
    width: 12vw;
}
  
.submit{
    margin-top: 4vh;
    box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.30);
}

form > p:last-of-type { /*wyśrodkowanie napisu OR */
    text-align: center;
    margin: 1vh 0;
}

.social-buttons {
    display: flex;
    justify-content: space-between;  /* dodaje odstępy między przyciskami */
    width: 100%;  /* zapewnia, że przyciski rozciągną się na całą szerokość dostępnego miejsca */
}

.social-buttons > .google {
    flex: 1.5;  /* sprawia, że przycisk Google jest szerszy */
    margin-right: 5px;
    background: #C9B4EC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social-buttons > .google img {
    margin-right: 10px;
}

.social-buttons > .facebook {
    flex: 1;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
}



